{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Space Simulation</h5>
            <p class="card-text">Write graph about space simulation</p>
            <a href="#" class="btn btn-primary">Go simulation</a>
        </div>
        <div class="card-footer text-muted">
            Powered by Malakatron!
        </div>
    </div>
{% endblock %}